

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: rgb(123, 144, 151);
    font-size: 16px;
    margin-top: 10px;
    display: block;
}
a:hover{
    color: rgb(100, 120, 130);
}
#container > form{
    padding: 30px

}

label{
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(123, 144, 151);
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(123, 144, 151);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input{
    display: block;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

h2{
    color: rgb(123, 144, 151);
    margin-bottom: 20px;
    font-size: 40px;
}